Repository btcven/locha, pull requests merged in 2020-04, with the labels that each got.

#43 Corrección en lista numerada, cap_8
  documentation/ES/chapter_8.md
Labels: Documentation, bug

#47 Feature/bibliography citations
  documentation/ES/bibliographic.md
  documentation/ES/chapter_1.md
  documentation/ES/chapter_10.md
  documentation/ES/chapter_11.md
  documentation/ES/chapter_12.md
  documentation/ES/chapter_13.md
  documentation/ES/chapter_2.md
  documentation/ES/chapter_3.md
  documentation/ES/chapter_4.md
  documentation/ES/chapter_5.md
  documentation/ES/chapter_6.md
  documentation/ES/chapter_7.md
  documentation/ES/chapter_8.md
  documentation/ES/chapter_9.md
  documentation/ES/draft_1_moduladores.md
  documentation/ES/implementacion.MD
Labels: Work in progress, enhancement

#57 Revisión capítulo 7
  documentation/ES/chapter_7.md
Labels: Documentation

#69 Correciones cap 5
  documentation/ES/chapter_5.md
Labels: Status: Ready for Review, Type: Documentation

#59 Revisión capítulo 8
  documentation/ES/chapter_8.md
  documentation/ES/imple_pic/ACKMSG.old.png
  documentation/ES/imple_pic/ACKMSG.svg
  documentation/ES/imple_pic/RERRMSG.svg
  documentation/ES/imple_pic/RREPMSG.old.png
  documentation/ES/imple_pic/RREPMSG.svg
  documentation/ES/imple_pic/RREQMSG.old.png
  documentation/ES/imple_pic/RREQMSG.svg
Labels: Status: Ready for Review, Type: Documentation

#60 Correcciones capítulo 1
  documentation/ES/chapter_1.md
Labels: Status: Ready for Review, Type: Documentation

#70 Correciones cap 6
  documentation/ES/chapter_6.md
Labels: Status: Ready for Review, Type: Documentation

#68 [WIP] Revisión capítulo 13
  documentation/ES/chapter_13.md
Labels: Status: Ready for Review, Type: Documentation, urgent

#65 Correcciones capítulo 4
  documentation/ES/chapter_4.md
Labels: Status: Ready for Review, Type: Documentation

#61 Correciones capítulo 2
  documentation/ES/chapter_2.md
Labels: Status: Ready for Review, Type: Documentation

#64 Correcciones capítulo 3
  documentation/ES/chapter_3.md
Labels: Status: Ready for Review, Type: Documentation

#63 Revisión capítulo 10
  documentation/ES/chapter_10.md
Labels: Status: Ready for Review, Type: Documentation

#66 [WIP] Revisión capítulo 11
  documentation/ES/chapter_11.md
Labels: Type: Documentation

#67 Revisión capítulo 12
  documentation/ES/chapter_12.md
Labels: Type: Documentation

#72 add aodvv2 implementation cap 11
  documentation/ES/chapter_11.md
  documentation/ES/imple_pic/aodvv2_init.svg
  et --hard
Labels: Status: WIP, Type: Documentation

#74 capitulo_12, add RREQ info and implementation.
  documentation/ES/chapter_12.md
Labels: Status: Ready for Review, Type: Documentation

#75 Revision capitulo 12
  documentation/ES/chapter_12.md
Labels: Status: Ready for Review, Type: Documentation

#62 Revisión capítulo 9
  documentation/ES/chapter_9.md
Labels: Status: Ready for Review, Type: Documentation

#77 Translated chapter 7 ES to EN
  documentation/en/Chapter_7.md
Labels: Status: Ready for Review, Type: Documentation

#73 Revision capitulo 11
  documentation/ES/chapter_11.md
Labels: Status: Ready for Review, Type: Documentation

#79 Translated chapter 2
  documentation/en/chapter_2.md
Labels: Status: Ready for Review, Type: Documentation

#78 Chapter 1 translated es en
  documentation/en/chapter_1.md
Labels: Status: Ready for Review, Type: Documentation

#87 Translated chapter 10 es to en
  documentation/EN/chapter_10.md
Labels: Status: Ready for Review, Type: Documentation

#85 Translated chapter 9 es to en
  documentation/EN/Chapter_9.md
  documentation/en/chapter_09.md
Labels: Status: Ready for Review, Type: Documentation

#84 Translated chapter 8 es to en
  documentation/EN/chapter_8.md
Labels: Status: Ready for Review, Type: Documentation

#80 Chapter 3
  documentation/en/chapter_3.md
Labels: Status: Ready for Review, Type: Documentation

#93 normalize_filenames
  documentation/EN/Chapter_9.md
  documentation/en/Chapter_7.md
  documentation/en/chapter_01.md
  documentation/en/chapter_02.md
  documentation/en/chapter_03.md
  documentation/en/chapter_08.md
  documentation/en/chapter_10.md
Labels: Status: Ready for Review

#94 Translated chapter 11 ES to EN
  documentation/EN/chapter_11.md
Labels: Status: Ready for Review, Type: Documentation

#82 Translation: chapter 5
  documentation/en/chapter_05.md
Labels: Status: Ready for Review, Type: Documentation

#81 Translation: chapter 4
  documentation/en/chapter_04.md
Labels: Status: Ready for Review, Type: Documentation

#97 Translated chapter 12 ES to EN
  documentation/en/chapter_12.md
Labels: Status: Ready for Review, Type: Documentation

#98 Translated/updated chapter 13 ES to EN
  documentation/en/chapter_13.md
Labels: Status: Ready for Review, Type: Documentation
